<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">My System</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>

        {% if user.role == 'CEO' %}
        <li class="nav-item">
          <a class="nav-link" href="#">CEO Reports</a>
        </li>
        {% endif %}

        {% if user.role == 'Director' %}
        <li class="nav-item">
          <a class="nav-link" href="#">Director Tools</a>
        </li>
        {% endif %}

        {% if user.role == 'RegionalManager' %}
        <li class="nav-item">
          <a class="nav-link" href="#">Regional Overview</a>
        </li>
        {% endif %}

        {% if user.role == 'DistrictCoordinator' %}
        <li class="nav-item">
          <a class="nav-link" href="#">District Activities</a>
        </li>
        {% endif %}

        {% if user.role == 'BAC/BRCHead' %}
        <li class="nav-item">
          <a class="nav-link" href="#">Center Management</a>
        </li>
        {% endif %}

        {% endif %}

      </ul>

      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
